# Dossier de sortie pour les fichiers CSV
OUTPUT_DIR=/app/data

# URL pour les données football
FOOTBALL_URL=https://www.tntsports.co.uk/football/mauritanian-league/calendar-results.shtml

# URL pour le PDF INPC
INPC_PDF_URL=https://ansade.mr/wp-content/uploads/2026/01/Note-INPC-decembre-2025_FR_VF.pdf
